<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "widgets/header.html" %}
    <link rel="stylesheet" href="../static/css/navbar-style.css" />
    <link rel="stylesheet" href="../static/css/social-button.css" />
    <link rel="stylesheet" href="../static/css/base_style.css" />
    <link rel="stylesheet" href="../static/css/animals.css" />

    <title>{{site_title}}</title>
  </head>
  <body>
    {% include "widgets/navbar.html" %}
    <br />
    <br />
    <div class="container">
      <center>
        <h1 id="hero-header">Unsere Tiere</h1>
        <h4 class="mb-3">Hier findest du alle Informationen über die Seniorenresidenz für Showtiere.</h4>
        <br>


        {% for animal, value in animaldict.items() %}
        <div class="col">
          <div class="card animal-bio flex-row flex-wrap">
            <div class="card-block">
              <div class="card-header border-0">

                <h4 class="card-title">{{animal}}</h4>
            </div>
                <img
                  class="card-img-left img-fluid rounded"
                  src="{{value['img_link']}}"
                  style="max-width: 50%; height: auto"
                  alt=""
                />

                <br>
                <br>
              <div class="w-100">
                <p class="card-text">{{value["text"]}}</p>
                <br />
              </div>
            </div>
          </div>
        </div>
        <div class="spacer-8"></div>
        {% endfor %}
      </center>
    </div>
    {% include "widgets/brand.html" %}
    {% include "widgets/footer.html" %}
    {% include "widgets/script.html" %}
    {% include "widgets/cookie-constent.html" %}
  </body>
</html>
