<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "widgets/header.html" %}
    <link rel="stylesheet" href="../static/css/navbar-style.css" />
    <link rel="stylesheet" href="../static/css/social-button.css" />
    <link rel="stylesheet" href="../static/css/base_style.css" />
    <link rel="stylesheet" href="../static/css/animals.css" />

    <title>{{site_title}}</title>
  </head>
  <body>
    {% include "widgets/navbar.html" %}
    <br />
    <br />
    <div class="container">
      <center>
        <h1 id="hero-header">Ernährungsberatung<br>für Zwei- und Vierbeiner</h1>
        <br>
        <br>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    Sie können sich darunter nichts vorstellen?
                </h4>
            </div>

            <div class="card-body">
                <p class="card-text"> 
<br> Sie haben einen tierischen Freund, der Ihnen Sorgen bereitet? Dann suchen Sie bei uns Rat. Schildern Sie uns die Probleme Ihres tierischen Partners. Ob nun Meerschweinchen, Frettchen, Hund, Katze oder sogar Papageien und Co.
<br>
Nutzen sie unseren Erfahrungsschatz aus 20 Jahre Arbeit mit den unterschiedlichsten Haus- und Wildtierarten. 
In unseren Beratungen und Empfehlungen verfolgen wir den ganzheitlichen Ansatz unter Berücksichtigung des Artverhaltens, der Haltung, der Fütterung und der familiären Verhältnisse.
<br>
Sie sind neugierig geworden?  
<br>
<br>
Wir beraten Sie gern kostenlos und unverbindlich und vereinbaren Sie noch heute Ihren Termin!
<br>
TEL:  0171/2282546
<br>
oder Mail <br>
tiger.bs1104@gmail.com
<br>
<br>
Hier ein paar Gedankenanstöße!
Haben Sie ein Tier, dass sich viel kratzt?
Einen Freund, der sich die Pfoten wund knabbert?
Einen Liebling, der immer wieder mit Durchfall zu kämpfen oder unter immer wiederkehrenden Ohrenentzündungen leidet?
<br>
In der Seniorenresidenz für Showtiere haben wir schon einigen Tieren  zu mehr  Lebensqualität verholfen. In den nächsten Tagen folgen Erfahrungsberichte. u.a.:
<br> 
<br>
-    haltungsbedingte Gefiederschäden von Papageien
<br>
-    dauerhaftes Pfoten Schlecken von Hunden               
<br>
-    Katzen, die Ihren Besitzer Nachts  nicht  durchschlafen lassen...
<br>
<br>
Verlieren Sie keine Zeit und fragen Sie nach einer Beratung. 
</p>
<br>
            </div>
        </div>
      </center>
    </div>


    {% include "widgets/brand.html" %}
    {% include "widgets/footer.html" %} 
    {% include "widgets/script.html" %}
    {% include "widgets/cookie-constent.html"%}
  </body>
</html>