<!DOCTYPE html>
<html lang="en">
<head>
    {% include "widgets/header.html" %}
    <title>{{site_title}}</title>
    <style>

        body{
            background-color: #111;
            color: #fff;
            align-items: center;
            margin: 0;
            text-align: center;
        }



    </style>
</head>
<body>
    <center>

        <div class="container">

            <div class="header">
                <h1>Control Center</h1>
            </div>
            
            <br>
            <br>
            
            <section>
                <form action="/controls/new_memory" method="post">
                    <div class="row">
                        <div class="col">
                            <h4>Nachruf</h4>
                        
                        <input type="text" name="memory_title" placeholder="Nachruf Titel hier...">
                        <br>
                        <input type="text" name="memory_img" placeholder="Bild-Link hier..." >
                        <br>
                        <textarea type="text" rows="10" name="memory_text" placeholder="Nachruf Text hier..."></textarea>
                        <br>
                        <input type="button" value="Nachruf erstellen">
                    </div>
                </div>
            </form>
        </section>
        <br>
        <hr>
        <br>
        <section>
            <form action="/controls/accept" method="post">
                
                <div class="row" style="width: 85%;">
                    <h3>Gästebucheinträge verwalten</h3>
                    <hr>
                </div>
                <br>
                <div class="row" style="margin: auto auto;padding:0;">
                    <h5>Aktuelle Einträge</h5>
                    <br>
                    <table class="gb-table">
                        <tr style="color: yellow;">
                            <td><strong>Name</strong></td>
                            <td><strong>E-Mail</strong></td>
                            <td><strong>Uhrzeit</strong></td>
                            <td><strong>Nachricht</strong></td>
                            <td><strong>Status</strong></td>
                        </tr>
                        <hr>
                        {% for message, value in messages_dict.items() %}
                        <tr>
                            <td>{{ value['message_name']}}</td><br/>
                            <td>{{ value['message_email'] }}</td>
                            <td>{{ value['message_time'] }}</td>
                            <td>{{ value['message'] }}</td>
                            <td>{{ value['message_status']}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <hr>
                </div>
                
            </div>
            <div class="col">
                
                <br>
                <label for="gb-list">Einträge</label>
                <select multiple name="gb-list" id="gb-list">
                    
                    {% for message, value in messages_dict.items() %}
                    <option value="{{ value['message_name'] }}">{{ value['message_name'] }}</option>
                    {% endfor %}
                </select>
                <br>
                <input type="button" value="Löschen">
                <input type="button" value="Akzeptieren">
            </div>
        </div>
    </form>
</section>








</div>
</center>
</body>
</html>