<!DOCTYPE html>
<html lang="en">
<head>
    {% include "widgets/header.html" %}
    <link rel="stylesheet" href="../static/css/navbar-style.css" />
    <link rel="stylesheet" href="../static/css/social-button.css" />
    <link rel="stylesheet" href="../static/css/base_style.css" />
    <link rel="stylesheet" href="../static/css/animals.css" />

    <title>{{ site_title }}</title>
</head>
<body>
    {% include "widgets/navbar.html" %}
    <br>
    <br>
    <div class="container">
        <center>

            <h1 id="hero-header">Kontakt</h1>
            <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2496.2743971541577!2d11.542934615761215!3d51.26926797959672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a4261718e33de1%3A0xecf9172e50c4145e!2sAm%20Dorfpl.%2025%2C%2006642%20Nebra%20(Unstrut)!5e0!3m2!1sde!2sde!4v1658855570437!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br>
        <br>
        <br>
        <div class="card mb-3" >
            <h1 id="hero-header">Kontaktinformationen</h1>
            <div class="card-body">
                <p class="card-text">
                    <table>
                        <tbody>
                            <tr>
                                <td>Seniorenresidenz für Showtiere</td>
                            </tr>
                            <tr>
                                <td>+49 171 228 254 6</td>

                            </tr>
                            <tr>
                                
                                <td>Am Dorfplatz 25</td>
                            </tr>
                            <tr>
                                <td>06642 Nebra (Unstrut)</td>
                            </tr>
                            <tr>
                                <td>tiger.bs1104@gmail.com</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <table>
                        <tbody>
                            <tr>
                                <td>Öffnungszeiten</td>
                            </tr>
                            <tr>
                                <td id="red-blink-text" style="font-weight: bold; font-size: 1.4rem;">Nur nach Terminabsprache</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    Oder nutzen sie die Kontaktbuttons am Ende jeder Seite.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
</center>
{% include "widgets/brand.html" %}
<div class="footer">
    {% include "widgets/footer.html" %}
</div>
{% include "widgets/script.html" %}
{% include "widgets/cookie-constent.html" %}
</body>
</html>



