<!DOCTYPE html>
<html lang="en">
<head>
    {% include "widgets/header.html" %}
    <link rel="stylesheet" href="../static/css/home_style.css">
    
    <title>{{site_title}}</title>
</head>
<body>
    
    {% include "widgets/navbar.html" %}
    <br>
    <center>
      <br>
      <h1 id="hero-header">WILLKOMMEN</h1>
      <br>
      <div class="outer">
        <div class="tcell">
          <div class="curtain-wrapper">
            <div class="curtain-ratio-keeper">
              <div class="curtain">
      
                <div class="video-wrapper">
                  <div class="video-ratio-keeper">
                    <div class="video video-frame">
                      <div class="home-image"></div>
                    </div>
                  </div>
                </div>
      
                <div class="panel-left"></div>
                <div class="panel-right"></div>
              </div>
      
              <div class="jacket" title="Play">
      
              </div>
            </div>
          </div>
        </div>
      </div>      
    </center>
    <br>
{% include "widgets/brand.html" %}
<div class="footer">
  
  {% include "widgets/footer.html" %}
</div>
{% include "widgets/script.html" %}

</body>
</html>