<!DOCTYPE html>
<html lang="en">
<head>
    {% include "widgets/header.html" %}
    <link rel="stylesheet" href="../static/css/base_style.css">
    
    <title>{{site_title}}</title>
</head>
<body>
    
    {% include "widgets/navbar.html" %}
    <br>
    <center>
    <!-- The parent component -->
    <div class="curtain">
        
      <!-- The component wrapper -->
      <div class="curtain__wrapper">
        
        <!-- The left curtain panel -->
        <div class="curtain__panel curtain__panel--left">
    
        </div> <!-- curtain__panel -->
        
        <!-- The prize behind the curtain panels -->
        <div class="curtain__prize">
    
        </div> <!-- curtain__prize -->
        
        <!-- The right curtain panel -->
        <div class="curtain__panel curtain__panel--right">
            
        </div> <!-- curtain__panel -->
        
      </div> <!-- curtain__wrapper -->
    
    </div> <!-- curtain -->
</center>
{% include "widgets/brand.html" %}
{% include "widgets/script.html" %}
<div class="footer">
    
    {% include "widgets/footer.html" %}
</div>
</body>
</html>