<!DOCTYPE html>
<html lang="en">
<head>
    {% include "widgets/header.html" %}
    <link rel="stylesheet" href="../static/css/social-button.css">
    <link rel="stylesheet" href="../static/css/index-style.css">
    <link rel="stylesheet" href="../static/css/navbar-style.css">
    <link rel="stylesheet" href="../static/css/base_style.css">
    <title>{{site_title}}</title>
</head>
<body class="index-body">
    {% include "widgets/navbar.html" %}
    <br>
    <center>
        <div class="content">
            {% include "widgets/content.html" %}
        </div>
        {% include "widgets/hero.html" %}
        <br>

    </center>
    {% include "widgets/brand.html" %}
    {% include "widgets/script.html" %}
    <div class="footer">

        {% include "widgets/footer.html" %}
    </div>
</body>
</html>