<!DOCTYPE html>
<html lang="en">
<head>
    {% include "widgets/header.html" %}
    <link rel="stylesheet" href="../static/css/base_style.css">
    <link rel="stylesheet" href="../static/css/spend-style.css">
    <link rel="stylesheet" href="../static/css/navbar-style.css">
    <link rel="stylesheet" href="../static/css/social-button.css">
    <link rel="stylesheet" href="../static/css/video.css">
    <link rel="stylesheet" href="../static/css/animalcard-style.css">

    <title>{{site_title}}</title>
</head>
<body>
    {% include "widgets/navbar.html" %}
    <center>
        <div class="container">

            <br>
            <br>
            {% for message in get_flashed_messages() %}
            <div class="card mb-3" style="width:80%;">
                <h2 style="color:green;" class="card-header">Spende erfolgreich!</h2>
                <div class="card-body">
                    <p class="card-text">
                        {{message}}
                    </p>
                </div>
            </div>
            {% endfor %}
            <br>
            <div class="card mb-3" style="width: 90%;">
                <h1 id="hero-header">Spenden & Patenschaft</h1>
                <div class="card-body">
                    <p class="card-text">
                        Zur Zeit sind keine Tiere in der Vermittlung, aber so manches Notfellchen/Notfederchen würde gerne einen Paten/In bekommen.
                        Es werden nur Tiere aufgenommen, die NICHT bereits im Tierschutz sind..
                        <br><br/>
                        Wir nehmen nur  Tiere auf, wenn diese nicht üblicherweise in Tierheimen aufgenommen werden können.
                        Also, sollten Sie gar keinen anderen Platz finden, dann telefonieren Sie mit uns!
                        Mehr als 20 Jahre Leben und Arbeiten mit den unterschiedlichsten Tierarten belegen die Fach- und Sachkunde.
                        u.a. für Raubtiere, Reptilien, Papageien, Robben, diverse Haustiere ect.
                        <br>
                        <br/>
                        ACHTUNG! Wir sind ausschließlich ein privates Projekt und bekommen keinerlei staatliche Förderungen. Diese sind nur Vereinen und Verbänden vorbehalten!
                        Wir finanzieren uns ausschließlich aus eigenen Mitteln.
                        Sie dürfen Patenschaften übernehmen und /oder uns besuchen kommen, erst Recht, wenn Ihr Liebling bei uns einziehen durfte.
                    </p>
                </div>
        </div>
        <br>
        <div class="card mb-3" style="width: 90%;">
            <h1 class="card-title" id="hero-header">Nachrichten Beitrag des MDR</h1>
            <div class="card-body">
                    <p class="card-text">In diesem kurzen Beitrag des MDR wird deutlich wieviel Einsatz und eben auch finanzielle Mittel es braucht, um die Tiere adäquat zu versorgen und zu betreuen.
                    <br>
                    <br>
                    <br>
                        <video id="mdr-video"width="90%" controls preload>
                            <source src="../../static/videos/leos-mdr-nachrichten.mp4" type="video/mp4"></source>
                        </video> 
                    </p>
            </div>
    </div>
        <br>

        <div class="spacer-8"></div>
        <div class="col">
            
            <div class="card-container">
                <div class="card">
                    <div class="box">
                        <span></span>
                        <div class="card-content">
                            <h2 id="animalcard-head">{{card_1_title}}</h2>
                            <h6 id="card-click-info">(klicken für infos)</h6>
                            <img style="height: 300px;width:200px;" src="{{card_1_imageURL}}" alt="">
                            <br>
                            <br>
                            <p class="animalcard-text">
                                <!--{{card_1_text}}-->
                                Update: behördlich vermittelt in einen Tierpark - Wir Danken den Futterspendern!
                                <br><br>Die Behörde hat die Tierarztkosten doch noch bezahlt!<br>Stand 18.01.2022\nAm 08.01.2022 habe ich den Kampf gegen meinen Revierrevalen in freier Wildbahn verloren und fiel wie ein Stein vom Himmel. Menschen beobachteten dieses Drama, entnahmen mich der Natur, brachten mich in die Seniorenresidenz für Showtiere. Wenige Stunden später befand ich mich in einer Spezialklinik für Vögel. Die Ärzte bemühen sich, mein rechtes Auge zu retten. Heute bekam ich  von den Behörden schlechte Nachrichten.
                                <br>Es konnte für mich kein Platz in einem Tierpark oder Zoo durch die Behörden gefunden werden. Auch kann die Behörde die Kosten für die bisherige Behandling und der bevorstehenden OP, nämlich der Entfernung meines rechten Auges in Höhe von  ca 2500,00€ nicht zahlen, das Budget gibt das nicht her.
                                <br>Wie trauig ist das, denn der Tierschutz ist doch ein Staatsziel und im Grundgesetz verankert. Findet sich niemand, die Kosten zu tragen, muss ich wohl meinen letzten Flug antreten.
                                <br><br>ICH MÖCHTE ABER LEBEN!!!!<br>Ich fresse auch selbstständig meine Mäuse und Küken.
                                <br>Die Tierärzte versuchen alles, um mir zu helfen, aber was tut der Staat für mich? Ich bin doch SEIN WILDTIER!  In der Seniorenresidenz für Showtiere dürfte ich mit Sondergenehmigung bleiben, denn die Fach- und Sachkunde haben die Behörden bereits anerkannt.
                                <br>Ich habe Euer Herz erreicht und Ihr wollt mir und den anderen Tieren helfen? Dann nutzt Paypal (tiger_bs@gmx.de - Stichwort Eule oder Ika(Rus) oder ruft an. Mir und den anderen Tieren hilft jeder Euro. Zum Dank schicke ich Euch auch gerne eine gemauserte Feder, wenn Ihr wollt. (Adresse bitte nicht vergessen!)
                                <br><br>Über meinen Gesundheitszustand Informiert Euch Birgit gerne unter 0171/22 82 546"""
                                
                            </p>
                            <br>
                            
                        </div>
                    </div>
                </div>
                <div class="spacer-8"></div>
                <div class="card">
                    <div class="box">
                        <span></span>
                        <div class="card-content">
                            <h2 id="animalcard-head">{{card_2_title}}</h2>
                            <h6 id="card-click-info">(klicken für infos)</h6>
                            <img style="height: 18rem;width:14rem;"src="{{ card_2_imageURL }}" alt="">
                            <br>
                            <br>
                            <p class="animalcard-text">
                                <!--{{card_2_text}}-->
                                Stand 18.01.22
                                <br>Max Mischling ist seit fast 9 Monaten bei uns und ist ein glücklicher Seniorenhund. Mit seinen fast 18 Jahren hat er sein Rudel gefunden. Auch sein Futterpate freut sich über die tolle Entwicklung. Leider kommt manchmal die Altersdemenz, dann vergisst er schon mal draussen Pipi zu machen. Seine Geschichte lest Ihr nachfolgend.
                                <br>
                                21.04.2021, 16.00 Uhr das Telefon klingelt. Eine befreundete Tierärztin ruft an und erzählt mir die traurigste Geschichte, die ich seit langem gehört habe. Max ist 17 Jahre und sein Frauchen hatte im Dezember mit 89 Jahren einen Unfall. Ist seit dem bettlegerisch und wird von der Familie gepflegt. So wie das Leben spielt, muss nun aber die pflegende Tochter selber ins Krankenhaus und die alte Dame somit ins Heim. Aber da ist noch Max. Was wird jetzt aus ihm? Die Familie sucht Hilfe, ruft in verschiedenen Tierheimen an, doch keiner will Max aufnehmen. Zu Alt, hinkend und dann noch inkontinent. Keine Aussichten auf Vermittlung.....
                                <br>Schweren Herzens entschließt sich die Familie Max für immer gehen zu lassen. 
                                <br>Sie gehen zu besagter Tierärztin. Diese stellt Herzprobleme fest, Wasseransammlungen im Körper, doch für den letzten Gang ist er einfach noch zu fit. 
                                <br>Eine halbe Stunde später bin ich eingetroffen. Mich begrüßte ein freundlicher halb blinder, und schwer hörender kleiner Kerl, der sicherlich noch ein paar schöne Wochen, vielleicht auch Monate vor sich haben kann.
                                <br>Max ist somit in die Seniorenresidenz für Showtiere aufgenommen. Er ist kein Star, doch er erfüllt das wichtigste Aufnahmekriterium. Bei uns finden Tiere ein Zu Hause, die nicht von Tierheimen aufgenommen werden....Max benötigt in seinem Alter und mit seinen Erkrankungen spezielles Futter und teuere Medikamente.
                                <br><br>Und nun kommt die Frage aller Fragen.... MÖCHTEN SIE  SEIN PATE SEIN? 
                                <br>Sie wollen helfen? Kontaktieren Sie uns per Mail oder auch Paypal unter tiger_bs@gmx.de 
                                <br>Wie es weiter geht mit Max? - Sie erfahren es bei uns! 
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            </div>
            <div class="spacer-8"></div>
            
            {% include "widgets/spending-form.html" %}
            <br>
            <br>
        </center>
        <br>
        {% include "widgets/brand.html" %}
        <div class="footer">
            {% include "widgets/footer.html" %}
        </div>
        {% include "widgets/script.html" %}
        {% include "widgets/cookie-constent.html" %}
        
    </div>
</body>
</html>