@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Orbitron:wght@600&family=Oswald:wght@700&family=Press+Start+2P&display=swap');


.spend-form{
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 35%;
  border: 1px solid black;
  border-radius: 35px;
  background-color: grey;
  padding: 2% 4%;
  margin: 1.5% auto;
}

footer{
  font-size: 11px;
  color: rgba(0,0,0,0.65)
}
.hero{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flexbox;
}
#hero-header{
    color:bisque;
    font-family: 'Kaushan Script', cursive;
}
.hero-text{
    color: #fff;
    word-wrap: break-word;
}
.card{
    color: #fff;
    background-color: rgba(0,0,0,0.65);
    font-weight: bold;
}
.card-text{
    font-size: 1.3rem;
}
