@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Orbitron:wght@600&family=Oswald:wght@700&family=Press+Start+2P&display=swap');

.navbar-nav{
    
    justify-content: space-between;
    margin: 0 auto;
}
.nav-item{
    text-align: center;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 20px;

    padding-left: 2px;
    padding-right: 2px;
}
.navbar-brand{
    color:bisque;
    font-family: 'Kaushan Script', cursive;
}