@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Orbitron:wght@600&family=Oswald:wght@700&family=Press+Start+2P&display=swap');

body{
    background-color: #111;
}
#spend-form{
    border: 2px solid cyan;
    border-radius: 30px;
}
.card{
    color: #fff;
    background-color: rgba(0,0,0,0.65);
    font-weight: bold;
}
.card-text{
    font-size: 1.3rem;
}
#form-header{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}
#hero-header{
    font-size: 64px;
    margin: 2% auto;
    color:bisque;
    font-family: 'Kaushan Script', cursive;
    
}
