<div class="buttondiv">
    <ul class="socialul ">
      <li class="socialli"><a class="sociallink" href="https://www.facebook.com/nick.sera.9028" target="_blank">
          <i class="fab fa-facebook" tabindex="0"></i>
        </a></li>
        <li class="socialli"><a class="sociallink" href="mailto:Seraphinus619@gmail.com" target="_blank">
            <i class="far fa-envelope" tabindex="0"></i>
        </a></li>
        <li class="socialli"><a class="sociallink" href="https://www.youtube.com/channel/UCJLXwZV5Kk4XRF6TSY_iPgQ">
            <i class="fab fa-youtube" tabindex="0" target="_blank"></i>
        </a></li>
    </ul>
</div>
  