<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="copyright" align="center">
            <span class="text-muted">
                <script>
                    document.write('&copy;');
                    document.write(' 2021 - ');
                    document.write(new Date().getFullYear());
                    document.write('| Design&Development by S3R43o3 - All Rights Reserved.');
                    document.write('<br/>Last Updated : ');
                    document.write(document.lastModified);
                </script>
            </span>
        </div>
    </div>
</footer>