<nav class="navbar navbar-expand-lg  navbar-dark fixed">
    <div class="container">
      <a id="navbarlogo" class="navbar-brand" href="/">
        Seniorenresidenz für Showtiere
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="navbarlogo" class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/entstehung">ENTSTEHUNG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tiere">UNSERE TIERE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/spenden">PATENSCHAFT/SPENDEN</a>
          </li>
          <li class="nav-item">
            <a href="/kontakt" class="nav-link"> MEMORY</a>
          </li>
          
          <li class="nav-item">
            <a href="/news" class="nav-link">NEWS</a>
          </li>
          <li class="nav-item">
            <a href="/Shop" class="nav-link">SHOP</a>
          </li>
          
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              MEHR
            </a>
            <ul class="dropdown-menu nav-bg dropdown-menu-end"
            aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="/kontakt">KONTAKT</a></li>
            <li><a class="dropdown-item " href="/team">UNSER TEAM</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/data">DATENSCHUTZ</a></li>
            <li><a class="dropdown-item" href="/impressum">IMPRESSUM</a></li>
            <li><a class="dropdown-item" href="/report-bug">HILFE</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>