
    <div class="col-sm-20">
        
        <form action="spend-confirm" method="POST" id="spend-form" class="card ">
            <br>
            <h3 id="form-header">Spendenformular</h3>
            <br>
            <p class="card-text">
                Alle Spenden werden zu 100% in die Haltung und Pflege der Tiere investiert! 
            </p>
            <div class="form-group row">
                <label required for="inputName" class="col-sm-0 col-form-label"><strong>Name</strong></label>
                <div class="col-sm-12">
                    <input type="plaintext" class="form-control" name="inputName"id="inputName" placeholder="Name">
                </div>
            </div>
            <div class="form-group row">
                <label required for="inputEmail" class="col-sm-0 col-form-label"><strong>Email</strong></label>
                <div class="col-sm-12">
                    <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group row">
                <label for="textArea" class="col-sm-0 col-form-label"><strong>Nachricht (optional)</strong></label>
                <div class="col-sm-12">
                    
                    <textarea name="inputMessage"class="form-control" id="textArea" rows="2"></textarea>
                </div>
            </div>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-0 pt-0"><strong>Betrag</strong></legend>
                <br>
                <div class="col-sm-12">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="pay-value" id="gridRadios1" value="2" checked>
                        <label class="form-check-label" for="gridRadios1">
                        2,00 €
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pay-value" id="gridRadios2" value="5">
                    <label class="form-check-label" for="gridRadios2">
                        5,00 €
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pay-value" id="gridRadios3" value="10" >
                    <label class="form-check-label" for="gridRadios3">
                        10,00 €
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pay-value" id="gridRadios4" value="15" >
                    <label class="form-check-label" for="gridRadios4">
                        15,00 €
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pay-value" id="gridRadios5" value="20" >
                    <label class="form-check-label" for="gridRadios5">
                        20,00 €
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pay-value" id="gridRadios6" value="25" >
                    <label class="form-check-label" for="gridRadios6">
                        25,00 €
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pay-value" id="gridRadios7" value="50" >
                    <label class="form-check-label" for="gridRadios7">
                        50,00 €
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="pay-value" id="gridRadios8" value="100" >
                    <label class="form-check-label" for="gridRadios8">
                        100,00 €
                    </label>
                </div>
                
            </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <div class="row">
            <br>
            <legend class="col-form-label col-sm-0 pt-0"><strong>Zahlart</strong></legend>
            <br>
            <div class="col-sm-12">
                
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payMethod" id="gridRadios1" value="paypal" checked>
                    <label class="form-check-label" for="paypalRadios">
                        Paypal
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payMethod" id="gridRadios8" value="banktransfer" >
                    <label class="form-check-label" for="gridRadios8">Überweisung
                        
                    </label>
                </div>
            </div>    
        </div>
        <br>
        <input id="spend-button" class="nav-link" type="submit" value="Abschicken">
        <br>
        </fieldset>
   
    </div>
</form>
</div>  





