<center>

    <form id="spend-form" class="spend-form">
        <h3 id="form-header">Spendenformular</h3>
        <br>
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputName" placeholder="Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="textArea" class="col-sm-2 col-form-label">Nachricht (optional)</label>
            <div class="col-sm-10">

                <textarea class="form-control" id="textArea" rows="2"></textarea>
            </div>
          </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Betrag</legend>
            <div class="col-sm-8">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                    <label class="form-check-label" for="gridRadios1">
                        2,00 €
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <label class="form-check-label" for="gridRadios2">
                        5,00 €
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" >
                    <label class="form-check-label" for="gridRadios3">
                        10,00 €
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option4" >
                    <label class="form-check-label" for="gridRadios4">
                        15,00 €
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="option5" >
                    <label class="form-check-label" for="gridRadios5">
                        20,00 €
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios6" value="option6" >
                <label class="form-check-label" for="gridRadios6">
                    25,00 €
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios7" value="option7" >
                <label class="form-check-label" for="gridRadios7">
                    50,00 €
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios8" value="option8" >
                <label class="form-check-label" for="gridRadios8">
                    100,00 €
                </label>
            </div>
            
        </div>
    </div>
</fieldset>
<fieldset class="form-group">
    <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Zahlungmöglichkeiten</legend>
        <div class="col-sm-8">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="paypalRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="paypalRadios">
                    Paypal
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios8" value="option8" >
                <label class="form-check-label" for="gridRadios8">
                    Überweisung
                </label>
            </div>
        </div>
    </div>
</fieldset>
<br>
<div class="col-sm-10">
    <input class="spend-button" type="button" value="Abschicken">
</div>
</form>
</center>



